<mat-card class="main-card">
  <mat-card-content>
    <h2 class="page-title">Historique des transactions</h2> <!-- Titre de la page -->

    <!-- Itérer sur les groupes de transactions -->
    <ng-container *ngFor="let group of groupedTransactions">
      <mat-card class="transaction-group">
        <mat-card-content class="meta-card">
          <h3>Date: {{ group[0] }}</h3>
          <hr> <!-- Ligne de séparation -->

          <!-- Itérer sur les transactions du groupe -->
          <div *ngFor="let transaction of group[1]" class="transaction-item">
            <div class="transaction-info">
              <p class="spacer">{{ transaction.name_recipient }}</p>
              <!-- <div class="spacer"></div>  Espace entre le nom et le montant -->
              <p>{{ transaction.montant }}</p>
            </div>
            <hr> <!-- Ligne de séparation -->
          </div>
        </mat-card-content>
      </mat-card>
      <div class="card-spacing"></div> <!-- Espacement entre les cartes -->
    </ng-container>

  </mat-card-content>
</mat-card>
